Repository distributeaid/shipment-tracker, pull requests merged in 2021-11, with the labels that each got.

#392 Public page improvements
  frontend/src/components/InternalLink.tsx
  frontend/src/components/forms/CheckboxField.tsx
  frontend/src/components/forms/FormFooter.tsx
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/pages/ConfirmEmailWithTokenPage.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/lost-password/RequestToken.tsx
  frontend/src/pages/lost-password/SetNewPassword.tsx
Labels: front end

#446 feat: auto-refresh token on user activity
  frontend/src/hooks/useAuth.tsx
  src/authenticateRequest.ts
  src/routes/login.ts
  src/routes/me/cookie.ts
  src/server/feat/backend.ts
  src/tests/authentication.test.ts
Labels: front end, back end

#451 feat: serve frontend from application
  .clevercloud/publish-frontend-to-cellar.sh
  .github/workflows/clevercloud-pr-preview.yml
  frontend/src/hooks/useAuth.tsx
  src/server/feat/backend.ts
  src/server/prod.ts
  src/tests/authentication.test.ts
Labels: cc-preview
